*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: Norse-Bold;
  src: url(static/fonts/Norse-Bold.otf);
}

body {
  background: url(static/images/travel_autumn-wallpaper-1920x1080.jpg) no-repeat center center;
  min-height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
}

.main-container {
  height: 100vh;
  display: flex;
  width: 100%;
}

.main-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 2;
  width: 100%;
}

.main-left-footer {
  position: fixed;
  bottom: 2%;
  letter-spacing: 0.5px;
  color: white;
  font-size: 12px;
}

.main-left-footer a {
  color: white;
}

.main-left-header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  margin-top: 15rem;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.main-left-header img {
  width: 80px;
}

.main-left-header p {
  color: white;
  font-size: 5rem;
  font-family: Norse-Bold;
}

.main-right {
  flex: 3;
  background: hsl(0, 0%, 90%);
  font-size: 1.17em;
  font-weight: bold;
  padding: 1rem;
  padding-top: 10rem;
  padding-bottom: 5rem;
  color: hsl(0, 0%, 10%);
  letter-spacing: 0.5px;
}

#first-text {
  margin: 1rem 0;
}

#second-text {
  margin: 1rem 0;
}

.main-right-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  background: white;
}